.listaPitanja {
  list-style: none;
  max-width: 50rem;
  margin: 1rem auto;
  padding: 1rem 0;
  display: grid;
  gap: 0.75rem;
  grid-template-columns: 100%;
  justify-content: center;
}

@media (max-width: 500px) {
  .listaPitanja {
    max-width: 300px;
  }
}
