header {
    margin: 1.5rem auto;
    max-width: 60rem;
    padding-bottom: 1.5rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #ece1fa;
}

.naslov {
  display: inline-flex;
  align-items: center;
  gap: 1.5rem;
  /* justify-content: center; */
  color: #e6ddf9;
  /* margin: 2.5rem auto; */
  /* padding: 0 0 3.25rem 0; */
}

@media (max-width: 500px) {
  header {
    min-width: 300px;
    max-width: 300px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1.5rem;
  }
  .naslov {
    font-size: 1.5rem;
    padding-bottom: 2.75rem;
    padding-bottom: 0;
    /* gap: 0; */
  }
}
