header {
    margin: 1.5rem auto;
    max-width: 60rem;
    padding-bottom: 1.5rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ece1fa;
}

.naslov {
  display: inline-flex;
  align-items: center;
  gap: 1.5rem;
  /* justify-content: center; */
  color: #e6ddf9;
  /* margin: 2.5rem auto; */
  /* padding: 0 0 3.25rem 0; */
}

.dugme {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 1.75rem;
    background-color: #2c007e; /*7f50e4*/
    color: #ece1fa;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-weight: bold;
    transition: all 0.15s ease-in-out;

    /* display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    padding: 1rem 1.75rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: #543280;
    margin: 0;
    text-transform: uppercase;
    width: 10rem;
    min-width: 10rem;
    height: 3rem;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    transition: all 0.3s; */
  }
  
  .dugme:hover {
    background-color: #1f0058;
  }

@media (max-width: 500px) {
  header {
    min-width: 300px;
    max-width: 300px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1.5rem;
  }
  .naslov {
    font-size: 1.5rem;
    padding-bottom: 2.75rem;
    padding-bottom: 0;
    /* gap: 0; */
  }
}
